[
    {
        "context": "",
        "bindings": {
            "{{primary}}-alt-d": "workspace::CloseAllDocks",
            "f13": "terminal_panel::Toggle",
            "f14": "project_panel::ToggleFocus",
            "f15": "git_panel::ToggleFocus",
            "f16": "agent::ToggleFocus"
        }
    },
    {
        "context": "ProjectPanel",
        "bindings": {
            "alt-f": "workspace::CloseAllDocks"
        }
    },
    {
        "context": "GitPanel",
        "bindings": {
            "alt-k": "workspace::CloseAllDocks"
        }
    },
    {
        "context": "Terminal",
        "bindings": {
            "alt-ñ": "workspace::CloseAllDocks",
            "alt-f": [
                "workspace::SendKeystrokes",
                "{{primary}}-alt-d f14"
            ],
            "alt-k": [
                "workspace::SendKeystrokes",
                "{{primary}}-alt-d f15"
            ],
            "alt-a": [
                "workspace::SendKeystrokes",
                "{{primary}}-alt-d f16"
            ]
        }
    },
    {
        "context": "AgentPanel",
        "bindings": {
            "alt-a": "workspace::CloseAllDocks"
        }
    },
    {
        "context": "Editor && AgentPanel",
        "bindings": {
            "alt-a": "workspace::CloseAllDocks"
        }
    },
    {
        "context": "MessageEditor",
        "bindings": {
            "alt-a": "workspace::CloseAllDocks"
        }
    },
    {
        "context": "AgentPanel > Markdown",
        "bindings": {
            "alt-a": "workspace::CloseAllDocks"
        }
    },
    {
        "context": "AgentPanel > Terminal",
        "bindings": {
            "alt-a": "workspace::CloseAllDocks"
        }
    },
    {
        "context": "EmptyPane",
        "bindings": {
            "alt-ñ": [
                "workspace::SendKeystrokes",
                "{{primary}}-alt-d f13"
            ],
            "alt-f": [
                "workspace::SendKeystrokes",
                "{{primary}}-alt-d f14"
            ],
            "alt-k": [
                "workspace::SendKeystrokes",
                "{{primary}}-alt-d f15"
            ],
            "alt-a": [
                "workspace::SendKeystrokes",
                "{{primary}}-alt-d f16"
            ]
        }
    },
    {
        "context": "GitDiff || AgentDiff || MarkdownPreview || ImageViewer || SharedScreen || KeymapEditor || BufferSearchBar || ProjectSearchBar || OutlinePanel || CollabPanel || DebugPanel",
        "bindings": {
            "alt-ñ": [
                "workspace::SendKeystrokes",
                "{{primary}}-alt-d f13"
            ],
            "alt-f": [
                "workspace::SendKeystrokes",
                "{{primary}}-alt-d f14"
            ],
            "alt-k": [
                "workspace::SendKeystrokes",
                "{{primary}}-alt-d f15"
            ],
            "alt-a": [
                "workspace::SendKeystrokes",
                "{{primary}}-alt-d f16"
            ]
        }
    },
    {
        "context": "Editor && !AgentPanel",
        "bindings": {
            "alt-ñ": [
                "workspace::SendKeystrokes",
                "{{primary}}-alt-d f13"
            ],
            "alt-f": [
                "workspace::SendKeystrokes",
                "{{primary}}-alt-d f14"
            ],
            "alt-k": [
                "workspace::SendKeystrokes",
                "{{primary}}-alt-d f15"
            ],
            "alt-a": [
                "workspace::SendKeystrokes",
                "{{primary}}-alt-d f16"
            ]
        }
    },
    {
        "context": "Workspace && !Terminal",
        "bindings": {
            "alt-ñ": [
                "workspace::SendKeystrokes",
                "{{primary}}-alt-d f13"
            ]
        }
    },
    {
        "context": "Workspace && !ProjectPanel",
        "bindings": {
            "alt-f": [
                "workspace::SendKeystrokes",
                "{{primary}}-alt-d f14"
            ]
        }
    },
    {
        "context": "Workspace && !GitPanel",
        "bindings": {
            "alt-k": [
                "workspace::SendKeystrokes",
                "{{primary}}-alt-d f15"
            ]
        }
    },
    {
        "context": "Workspace && !AgentPanel",
        "bindings": {
            "alt-a": [
                "workspace::SendKeystrokes",
                "{{primary}}-alt-d f16"
            ]
        }
    },
    {
        "context": "ProjectPanel",
        "bindings": {
            "{{primary}}-s": "workspace::SaveAll"
        }
    },
    {
        "context": "Workspace",
        "bindings": {
            "{{primary}}-s": "workspace::SaveAll"
        }
    },
    {
        "context": "Editor",
        "bindings": {
            "{{primary}}-w": "pane::CloseActiveItem"
        }
    },
    {
        "context": "Editor && mode == full",
        "bindings": {
            "alt-z": "editor::ToggleSoftWrap"
        }
    },
    {
        "context": "Editor",
        "bindings": {
            "{{primary}}-r": "editor::Rename"
        }
    },
    {
        "context": "Editor",
        "bindings": {
            "alt-space": "editor::ShowWordCompletions"
        }
    },
    {
        "context": "Editor",
        "bindings": {
            "{{primary}}-y": "editor::Redo"
        }
    },
    {
        "context": "Editor",
        "bindings": {
            "alt-enter": "editor::ToggleCodeActions"
        }
    },
    {
        "bindings": {
            "alt-{{primary}}-p": "text_finder::Toggle"
        }
    }
]
